@import '../../App.css';

/* Styling for texts */
.top-text {
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--main_font);
}

.label {
    font-size: var(--medium_text);
    display: block;
    padding-top: 40px;
    padding-bottom: 10px;
}

.label-value {
    font-style: normal;
    font-weight: 300;
    font-size: var(--small_text);
    color: var(--placeholder_text);
    border: none;
    border-bottom: 1px solid #979797;
}

.link {
    font-style: normal;
    font-weight: 300;
    font-size: var(--medium_text);
    color: #0016D8;
}